* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Poppins",sans-serif;
}    
:root {
    --bg-color:#080808;
    --second-bg-color:#131313;
    --text-color:white;
    --main-color:red;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}


body{
    background: var(--bg-color);
    color: var(--text-color);
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 3rem 9%;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.header span{
    color: var(--main-color);
    text-shadow: 0 0 50px var(--main-color);
}

.logo{
    font-size: 3rem;
    color: var(--text-color);
    font-weight:  800;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.logo:hover{
    transform: scale(1.1);
}
.navbar a {
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease-in-out;
    border-bottom: 3px solid transparent;
}
.navbar a:hover,
.navbar a.active{
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}


#menu-icon{
    font-size: 3.6rem;
    color: var(--main-color);
    display: none;
}
section{
    min-height: 100vh;
    padding: 10rem 12% 10rem;
}
.home{
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 15rem;
}
.home-content{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    text-decoration-line: left;
    justify-content: center;
    margin-top: 3rem;
}
span{
    color: var(--main-color);
}
.logo span{
    color: var(--main-color);
}
.home-content h3{
    margin-bottom: 2rem;
    margin-top: 1rem;
    font-size: 3.5rem;
}
.home-content h1{
    font-size: 7rem;
    font-weight: 700;
    margin-top: 1.5rem;
    line-height: 1;
}
.home-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-img img {
    width: min(350px, 45vw); 
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    object-fit: cover;
    object-position: 40% center;
    border: 3px solid var(--main-color);
    padding: 6px; 
    background-color: transparent;
    box-shadow: 0 0 15px var(--main-color);
    transition: all 0.4s ease-in-out;
}

.home-img img:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 30px var(--main-color);
    border-color: var(--text-color);
}
.home-content p{
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.8;
    max-width: 1000px;
}
.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
    height: 4.5rem;
    background: transparent;
    border: 2px solid var(--main-color);
    font-size: 2.5rem;
    border-radius: 50%;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease-in-out;
}
.social-icons a:hover{
    color: var(--text-color);
    transform: scale(1.3)translateY(-5px);
    box-shadow: 0 0 25px var(--main-color);
    background-color: var(--main-color);
}
.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    margin-right: 7px;
    background: var(--main-color);
    border-radius: 4rem;
    font-size: 1.6rem;
    color: black;
    border: 1px solid transparent;
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.3s  ease-in-out;
    cursor: pointer;
}
.btn:hover{
    transform: scale(1.05);
    box-shadow: 0 0 50px var(--main-color);
}
.btn-group a:nth-of-type(2){
    background-color: black;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    box-shadow: 0 0 25px transparent;
}
.btn-group a:nth-of-type(2):hover{
    box-shadow: 0 0 25px var(--main-color);
    background-color: var(--main-color);
    color: black;
}
.text-animation{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}
.text-animation span{
    position:relative;
}
.text-animation span::before{
    content: 'Web Developer';
    color: var(--main-color);
    animation: words 20s infinite;
}
.text-animation span::after{
    content: "";
    background-color: var(--bg-color);
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid var(--bg-color);
    right: -8px;
    animation: cursor 0.6s infinite, typing 20s steps(14) infinite;
}
@keyframes cursor{
    to{
        border-left: 2px solid var(--main-color);
    }
}
@keyframes words{
    0%,
    20%{
        content: "Student";
    }
    21%,
    40%{
        content: "Web Developer";
    }
    41%,
    60%{
        content: "Chess Player";
    }
    61%,
    80%{
        content: "Guitarist";
    }
    81%,
    100%{
        content: "Tennis Player";
    }
}
@keyframes typing{
    10%,
    15%,
    30%,
    35%,
    50%,
    55%,
    70%,
    75%,
    90%,
    95% {
        width: 0;
    }
    5%,
    20%,
    25%,
    40%,
    45%,
    60%,
    65%,
    80%,
    85% {
        width: calc(100% + 8px);
    }
}


.heading{
    font-size: 8rem;
    text-align: center;
    margin: 5rem 0;
}
.education{
    padding: 100px 15px;
    background: var(--second-bg-color);
}
.education h2{
    margin-bottom: 5rem;
}
.timeline-items{
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.timeline-items::before{
    content: "";
    position: absolute;
    width: 5px;
    height: 100%;
    background-color: var(--main-color);
    left: calc(50% - 1px);
}
.timeline-item{
    margin-top: 40px;
    width: 100%;
    position: relative;
}
.timeline-item:last-child{
    margin-bottom: 0;    
}
.timeline-item:nth-child(odd){
    padding-right: calc(50% + 30px);
    text-align: right;
}
.timeline-item:nth-child(even){
    padding-left: calc(50% + 30px);
}
.timeline-dot{
    height: 21px;
    width: 21px;
    background-color: var(--main-color);
    box-shadow: 0 0 25px var(--main-color), 
                0 0 50px var(--main-color);
    position: absolute;
    left: calc(50% - 8px);
    border-radius: 50%;
    top: 10px;
}
.timeline-date{
    font-size: 20px;
    font-weight: 800;
    color: var(--text-color);
    margin: 6px 0 15px;
}
.timeline-content{
    background-color: var(--bg-color);
    border: 3px solid var(--main-color);
    padding: 30px 50px;
    border-radius: 5rem;
    box-shadow: 0 0 10px var(--main-color);
    cursor: pointer;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.timeline-content:hover{
    transform: scale(1.05);
    box-shadow: 0 0 25px var(--main-color);
}
.timeline-content h3{
    font-size: 20px;
    color: var(--text-color);
    margin: 0 0 10px;
    font-weight: 500;
}
.timeline-content p{
    color: var(--text-color);
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
}


/*SCROLLBAR*/

::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
    border-radius: 5px;
}
::-webkit-scrollbar-track{
    background-color: var(--bg-color);
    width: 50px;
}

/*SERVICE*/
.services{
    background-color: var(--bg-color);
    color: var(--text-color);
}
.services h2{
    margin-bottom: 3rem;
    color: var(--text-color);
}
.services-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    gap: 2.5rem;
}
.service-box{
    background-color: var(--main-color);
    color: var(--text-color);
    height: 230px;
    border-radius: 3rem;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.service-box:hover{
    background-color: white;
    color: var(--bg-color);
    transform: scale(1.03);
}
.service-box .service-info{
    display: flex;
    flex-direction: column;
    text-align: left;
    max-height: 200px;
    justify-content: center;
    align-items: baseline;
    padding: 5em;
}
.service-info h4{
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
}
.service-info p{
    font-size: 1.6rem;
    font-weight: 400;
    max-height: 100px;
    margin: auto;
}
/*Sertificate*/

.certificates-section {
    padding: 1px 20px;
    max-width: 1000px;
    margin: auto;
    text-align: center;
}

.certificates-title {
    font-size: 3rem;
    margin-bottom: 10px;
    color: var(--text-color);
    font-weight: bold;
    text-transform: uppercase;
}

.certificates-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    transition: opacity 0.6s ease;
}
.certificates-container:hover > :not(:hover){
    opacity: 0.7;
}

.certificate {
    background-color: var(--second-bg-color);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    overflow: hidden;
}

.certificate:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.certificate img {
    max-width: 100%;
    border-radius: 10px 10px 0 0;
    transition: transform 0.3s;
}

.certificate:hover img {
    transform: scale(1.1);
}

.certificate-info {
    margin-top: 15px;
}

.certificate-title {
    font-size: 1.8rem;
    color: var(--main-color);
    font-weight: bold;
}

.certificate-date {
    margin-top: 5px;
    font-size: 1.2rem;
    color: var(--text-color);
}

/* Responsive Design */
@media (max-width: 768px) {
    .certificates-title {
        font-size: 2.5rem;
    }

    .certificates-container {
        grid-template-columns: 1fr;
    }
}

/*Contact*/
.contact{
    background-color: var(--second-bg-color);
}
.contact h2{
    margin-bottom: 3rem;
    color: white;
}
.contact form{
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}
.contact form .input-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.contact form .input-box input,
.contact form textarea{
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--bg-color);
    border-radius: 0.8rem;
    border: 2px solid var(--main-color);
    margin: 1rem 0;
    resize: none;
}
.contact form .btn{
    margin-top: 2rem;
    transition: 0.3s ease-in-out;
}

.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    background-color: var(--bg-color);
}
.footer .social{
    text-align: center;
    padding-bottom: 25px;
    color: var(--main-color);
}
.footer .social a{
    font-size: 25px;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    width: 42px;
    height: 42px;
    line-height: 42px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 10px;
    transition: 0.3s ease-in-out;
}
.footer .social a:hover{
    transform: scale(1.2)translateY(-10px);
    background-color: var(--main-color);
    color: var(--text-color);
    box-shadow: 0 0 25px var(--main-color);
}
.footer ul{
    margin-top: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}
.footer ul li a{
    color: var(--main-color);
    border-bottom: 3px solid transparent;
    transition: 0.3s ease-in-out;
}
.footer ul li a:hover{
    color: var(--main-color);
    border-bottom: 3px solid transparent;
}
.footer ul li{
    display: inline-block;
    padding: 0 15px;
}
.footer .copyright{
    margin-top: 50px;
    text-align: center;
    font-size: 16px;
    color: var(--main-color);
}

@media(max-width:1285px){
    html{
        font-size: 55%;
    }
    .services-container{
        padding-bottom: 7rem;
        grid-template-columns: repeat(2,1fr);
        margin: 0 5rem;
    }
}
@media(max-width:991px){
    header{
        padding: 2rem 3%;
    }
    section{
        padding: 10rem 3% 2rem;
    }
    .services{
        padding-bottom: 7rem;
    }
    .footer{
        padding: 2rem 3%;
    }
}
@media(max-width:895px){
    #menu-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        right: 0;
        width: 50%;
        padding: 1rem 3%;
        background: rgba(0,0,0,0.9);
        backdrop-filter: blur(20px);
        border-bottom-left-radius: 2rem;
        border-left: 2px solid var(--main-color);
        border-bottom: 2px solid var(--main-color);
        display: none;
    }
    .navbar.active{
        display: block;
    }
    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        color: white;
    }
    .home{
        flex-direction: column;
        margin: 5rem 4rem;
    }
    .home-content h3{
        font-size: 2.6rem;
    }
    .home-content h1{
        font-size: 8rem;
        margin-top: 3rem;
    }
    .home-content p{
        max-width: 600px;
        margin: 0 auto;
    }
    .home-img img{
        width: 56vw;
        margin-top: -2rem;
    }
    .about{
        flex-direction: column-reverse;
    }
    .about-content{
        margin: 0 2rem 4rem;
    }
    .about img{
        width: 52vw;
        margin-top: 1rem;
        margin-bottom: 3rem;
    }
    .services h2{
        margin-bottom: 3rem;
    }
    .services-container{
        grid-template-columns: repeat(1,1fr);
    }
    .heart-container{
        display: none;
    }
}


.prevent-select {
  -webkit-user-select: none; 
  -ms-user-select: none; 
  user-select: none; 

}

.heart-container {
  --heart-color:var(--main-color);
  position:absolute;
  top: 20px;
  right: 37px;
  width: 45px;
  height: 50px;
  transition: .3s;
}

.heart-container .checkbox {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 20;
  cursor: pointer;
}

.heart-container .svg-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heart-container .svg-outline,
        .heart-container .svg-filled {
  fill: var(--heart-color);
  position: absolute;
}

.heart-container .svg-filled {
  animation: keyframes-svg-filled 1s;
  display: none;
}

.heart-container .svg-celebrate {
  position: absolute;
  animation: keyframes-svg-celebrate .5s;
  animation-fill-mode: forwards;
  display: none;
  stroke: var(--heart-color);
  fill: var(--heart-color);
  stroke-width: 2px;
}

.heart-container .checkbox:checked~.svg-container .svg-filled {
  display: block
}

.heart-container .checkbox:checked~.svg-container .svg-celebrate {
  display: block
}

@keyframes keyframes-svg-filled {
  0% {
    transform: scale(0);
  }

  25% {
    transform: scale(1.2);
  }

  50% {
    transform: scale(1);
    filter: brightness(1.5);
  }
}

@keyframes keyframes-svg-celebrate {
  0% {
    transform: scale(0);
  }

  50% {
    opacity: 1;
    filter: brightness(1.5);
  }

  100% {
    transform: scale(1.4);
    opacity: 0;
    display: none;
  }
}

:root {
    --bg-color: #111111;
    --second-bg-color: #1a1919;
    --text-color: #CFD8DC;
    --main-color: #69b497;
}


.dark-theme {
    --bg-color: #a8d5ba;      
    --second-bg-color: #92c4a5; 
    --text-color: #1a2e25;    
    --main-color: #76b8a3;    
}

#icon{
    width: 36px;
    position:absolute;
    top: 28px;
    left: 32px;
}
nav ul{
    flex: 1 ;
    text-align:right;
}
/* style.css */

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes zoomIn {
    from {
        opacity: 0;
        transform: scale(0.5);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

